:root {
    --ms_color-sidebar: #051e34;
    --ms_blue: #1b72e8;
}

/*COMMON*/
.ms_container-app {
    width: 100%;
    height: 100vh;
    /*DEBUG*/
    border: 5px solid red;
}

.ms_content-app {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
}

.ms_debug{
    border: 2px solid black;
}

/*/COMMON*/

/*HEADER*/
.ms_header-app {
    width: 100%;
    height: 80px;
    background-color: white;
    /*DEBUG*/
    border: 2px solid black;
}

.ms_header-app .container-fluid {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container-fluid .row {
    height: 100%;
}

.ms_img-logo-mobile {
    height: 65px;
}

.ms_img-logo-desktop{
    height: 26px;
    display: none;
}

.ms_bell-header{
    font-size: 1.2rem;
    color: orange;
}

.ms_options-header{
    display: none;
    font-size: 1.2rem;
}

.ms_container-search-bar{
    background-color: #e5e5e5;
    height: 40px;
    border-radius: 5px;
}

.ms_search-bar{
    width: 245px;
    border: transparent;
    background-color: #e5e5e5;
}

@media screen and (min-width:992px) {
    .ms_img-logo-mobile{
        display: none;
    }

    .ms_img-logo-desktop{
        display: inline-block;
    }

    .ms_options-header{
        display: inline;
    }
}
/*/HEADER*/

/*SIDEBAR*/
.ms_sidebar-app {
    height: 100%;
    width: 80px;
    background-color: var(--ms_color-sidebar);
    background-image: url(../img/sidebar-bg.png);
    /*DEBUG*/
    border: 2px solid black;
}

.ms_sidebar-app .container{
    height: 100%;
}

.container .row{
    height: 100%;
}

@media screen and (min-width:992px) {
    .ms_sidebar-app {
        width: 140px;
    }
}

/*/SIDEBAR*/

/*MAIN*/
.ms_main-app {
    height: 100%;
    width: calc(100% - 80px);
    overflow-y: auto;
    /*DEBUG*/
    border: 2px solid black;
    background-color: cornflowerblue;
}

@media screen and (min-width:992px) {
    .ms_main-app {
        width: calc(100% - 140px)
    }
}

/*/MAIN*/